{{ $page := .Site.GetPage "reports.md" }}
{{ $maxResults := 10 }}
{{ $count := 0 }}

{{ if $page }}
  {{ $lines := split $page.RawContent "\n" }}

  <ul>
    {{ range $lines }}
      {{ if and (lt $count $maxResults) (hasPrefix . "- ") }}
        {{ $pattern := `\[(.*?)\]\((.*?)\)` }}
        {{ $matches := findRESubmatch $pattern . 1 }}

        {{ if $matches }}
          {{ $count = add $count 1 }}
          <li><a href="{{ index $matches 0 2 }}" target="_blank">{{ index $matches 0 1 }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>

  <div class="seeMore">
    <a href="reports/">
      <div class="seeMoreButton">See all public reports</div>
    </a>
  </div>
{{ end }}
