.about{

		img{
				margin-bottom:20px;
				box-shadow:0 0 5px rgba(0,0,0,.5);
		}

		strong.cs{
				color:#c31130;
		}

		.arrow{
				font-size:10px;
				color:rgba(0,0,0,.3);
		}

		.last-blogs{
				background-color:rgba(0,0,0,.1);
				padding:15px;
				margin-bottom:20px;
				box-shadow:0 2px 2px rgba(0,0,0,.5);

				&:after{
						border-top:1px #00000 solid;
						background-color:grey;
				}
				
				h2{
						font-size:15px;
						margin-bottom:5px;
						color:rgba(0,0,0,.7);
						font-weight:bold;
						background-color:rgba(0,0,0,.1);
						padding:5px 10px;
				}

				.post-meta{
						font-size:10px;
				}

				a{
						color:rgba(0,0,0,.7);
						font-size:15px;
				}

				ul {
						list-style:none;
						margin:0;
				}
		}

		.button{
				background-color:rgba(0,0,0,.2);

				color:rgba(0, 0, 0, .8);
				padding:10px;
				border-radius:2px;
				margin-bottom:15px;
				display:inline-block;
				border-bottom:1px rgba(0,0,0,.2) solid;
				border-right:1px rgba(0,0,0,.2) solid;

				font-size:13px;

				&:hover{
						text-decoration:none;
						background-color:rgba(0,0,0,.17);
				}
		}
}