/* This is the font we're using on the main site */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

/* We need something for monospace, happy to have feedback on other options */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* Greyscale */
  --white: #FFFFFF;
  --grey-one: #D8D8D8;
  --grey-two: #A0A0A0;
  --grey-three: #3D4242;
  --black: #0B0820;

  /* Primary Colours */
  --blue: #000FFF;
  --red-orange: #FF3B0B;

  /* Secondary Colours */
  --raspberry: #FF4495;
  --dark-lavender: #5D47D7;
  --blue-calico: #86CDF2;
}

body {
  color: var(--black);
  background-color: var(--white);

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;

  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

a, a:hover, a:visited {
  color: var(--blue);
}

code, pre {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
}

p code {
  font-size: 0.85em;
  background-color: #1e1e2e;
  color: #cdd6f4;
  padding: 5px;
  border-radius: 4px;
}

pre {
  font-size: 0.85em;
  padding: 1em;
  border-radius: 4px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  background: linear-gradient(var(--blue), var(--black));
  color: var(--white); /* Example text color */

  min-height: 150px;
}

a {
  color: #00e;
  text-decoration: none;
}

.mostRecentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mostRecentBox {
  border: 1px solid red;
  padding: 0 1em 1em 1em;
  min-width: 250px;
}

.mostRecentBox h3 {
  text-align: center;
}
