{{ define "main" }}

<div class="aboutUs">
  {{ $page := .Site.GetPage "/snippets/about.md"}}
  {{ $page.Content }}
</div>

<div class="mostRecentWrapper">
  <div class="mostRecentBox">
    <h3>Recent Reports</h3>
      {{ partial "most_recent_reports.html" . }}
  </div>

  <div class="mostRecentBox">
    <h3>Recent Publications</h3>
      {{ partial "most_recent_publications.html" . }}
  </div>

  <div class="mostRecentBox">
    <h3>Recent Blogposts</h3>
      {{ partial "most_recent_blogposts.html" . }}
  </div>
</div>


<div class = "archiveWrapper">
  {{ partial "archive_summary.html" . }}
</div>


{{ end }}
