{{ define "main" }}

<div class="aboutUs">
  {{ $page := .Site.GetPage "/snippets/about.md"}}
  {{ $page.Content }}
</div>

<hr class="mainHr">

<div class="mostRecentWrapper">
  <div class="mostRecentBox">
    <h2>Recent Reports</h2>
      {{ partial "most_recent_reports.html" . }}
  </div>

  <div class="mostRecentBox">
    <h2>Recent Publications</h2>
      {{ partial "most_recent_publications.html" . }}
  </div>

  <div class="mostRecentBox">
    <h2>Recent Blogposts</h2>
      {{ partial "most_recent_blogposts.html" . }}
  </div>

  <div class="mostRecentBox">
    <h2>Recent Presentations</h2>
      {{ partial "most_recent_talks.html" . }}
  </div>
</div>

<hr class="mainHr">

<div class="projects">
  {{ $page := .Site.GetPage "/snippets/projects.md"}}
  {{ $page.Content }}
</div>

<hr class="mainHr">

<div class="aboutNCC">
  {{ $page := .Site.GetPage "/snippets/about_ncc.md"}}
  {{ $page.Content }}
</div>

<hr class="mainHr">

<div class = "archiveWrapper">
  {{ partial "archive_summary.html" . }}
</div>


{{ end }}
